@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #0b79b0;
    --color-primary-dark: #066288;
    --color-primary-light: #33a6d6;
    --color-contrast: #ffffff;
    --color-muted: #f3f8fa;
}

@utility title-xl {
    @apply font-bold text-gray-800 text-4xl mb-6;
}

@utility title-lg {
    @apply font-bold text-gray-800 text-3xl mb-5;
}

@utility title-md {
    @apply font-bold text-gray-800 text-2xl mb-4;
}

@utility title-sm {
    @apply font-bold text-gray-800 text-xl mb-3;
}

@utility sub-title {
    @apply font-semibold text-gray-800 text-lg mb-3;
}
